<!DOCTYPE html>
<html xmlns="http://wwww.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<title>FutManager</title>
<link href="/webjars/materializecss/0.97.7/css/materialize.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
	<div class="container">
		<div class="row center">
			<h1 class="header center grey-text">FutManager</h1>
			<h5 class="header col s12 light">Sistema de Controle de Times e
				Jogadores</h5>
		</div>
		<div class="row center">
			<a href="/times/" class="btn-large waves-effect waves-light blue">Gerenciar
				Times</a> <a href="/jogadores/" class="btn-large waves-effect waves-light blue">Gerenciar
				Jogadores</a>
		</div>
	</div>


	<script src="/webjars/jquery/2.2.4/jquery.js"></script>
	<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>

</body>
</html>